body {
  margin: 0; }

.calendar {
  max-width: 707px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto; }

.calendar div {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-right: 1px;
  margin-bottom: 1px; }
  .calendar div:nth-child(1)::after {
    content: "1";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(2)::after {
    content: "2";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(3)::after {
    content: "3";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(4)::after {
    content: "4";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(5)::after {
    content: "5";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(6)::after {
    content: "6";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(7)::after {
    content: "7";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(8)::after {
    content: "8";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(9)::after {
    content: "9";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(10)::after {
    content: "10";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(11)::after {
    content: "11";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(12)::after {
    content: "12";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(13)::after {
    content: "13";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(14)::after {
    content: "14";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(15)::after {
    content: "15";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(16)::after {
    content: "16";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(17)::after {
    content: "17";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(18)::after {
    content: "18";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(19)::after {
    content: "19";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(20)::after {
    content: "20";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(21)::after {
    content: "21";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(22)::after {
    content: "22";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(23)::after {
    content: "23";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(24)::after {
    content: "24";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(25)::after {
    content: "25";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(26)::after {
    content: "26";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(27)::after {
    content: "27";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(28)::after {
    content: "28";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(29)::after {
    content: "29";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(30)::after {
    content: "30";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:nth-child(31)::after {
    content: "31";
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 98px; }
  .calendar div:hover {
    cursor: pointer;
    -webkit-animation: colorchange 0.5s forwards;
            animation: colorchange 0.5s forwards; }

@-webkit-keyframes colorchange {
  0% {
    background-color: #eee;
    bottom: 0; }
  100% {
    background-color: pink;
    bottom: 20px; } }

@keyframes colorchange {
  0% {
    background-color: #eee;
    bottom: 0; }
  100% {
    background-color: pink;
    bottom: 20px; } }

.calendar-mon div:first-child {
  margin-left: 0px; }

.calendar-tue div:first-child {
  margin-left: 101px; }

.calendar-wed div:first-child {
  margin-left: 202px; }

.calendar-thu div:first-child {
  margin-left: 303px; }

.calendar-fri div:first-child {
  margin-left: 404px; }

.calendar-sat div:first-child {
  margin-left: 505px; }

.calendar-sun div:first-child {
  margin-left: 606px; }

.calendar-28 div:nth-child(-n + 28) {
  display: block; }

.calendar-29 div:nth-child(-n + 29) {
  display: block; }

.calendar-30 div:nth-child(-n + 30) {
  display: block; }

.calendar-31 div:nth-child(-n + 31) {
  display: block; }

/*# sourceMappingURL=main.css.map */
